.RestaurantItem {

  .card {
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
    width: 70%;

    .bloc_img {
      width: 30%;
      overflow: hidden;
      background-color: grey;
      background-size: cover;
      background-position: center;

    }
    
    .bloc_infos {
      padding: 20px;
      width : 70%;
      
      .info_item {
        display: flex;
        justify-content: space-between;
        align-items: center;

          .primary_category {
            text-align: center;
            margin-right: 10px;
          }
  
          .secondary_category {
             
          }
      }

      .bloc_text {
        overflow: hidden;
        height : 100px;

      }
    }
   

  }
}