
.RestaurantItem {

  .card {
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
    width: 70%;

    .bloc_img {
      width: 30%;
      overflow: hidden;
      background-color: grey;
      background-size: cover;
      background-position: center;

    }
    
    .bloc_infos {
      padding: 20px;
      width : 70%;
      
      .info_item {
        display: flex;
        justify-content: space-between;
        align-items: center;

          .primary_category {
            text-align: center;
            margin-right: 10px;
          }

          .img_front {
            width: 40px;
            height: 40px;
          }
          .bloc_star {
            width: 40px;
            height: 40px;
            border: 1px solid yellow;
            .background_star {
              background-image: url('/yellow_star.png');
              border: 1px solid red;
              width: 100%;
              height: 100%;
            }
          }
      }

      .bloc_text {
        min-height : 100px;
      }
    }
  }
}